<div class ="row">
<div id="color_block" class="container-fluid">
   <h1>Billion dollar CFO</h1>
   <h2>for your million dollar business</h2><br>
   <p><%= link_to "About Tom", 'about', class: "btn btn-primary" %></p>
</div>
</div>
<br>

<%-# Press Section -%>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <p style="border-bottom:1pt solid black;" class="text-center"> Quoted In</p>
     <div class="col-md-4 col-xs-8">
      <a href="#">
        <%= image_tag "wsj.png", class: "img-responsive"%>
      </a>
  </div>
   <div class="col-md-2 col-xs-4">
      <a href="#">
        <%= image_tag "CFO.png", class: "img-responsive"%>
      </a>
  </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <p style="border-bottom:1pt solid black;" class="text-center"> Member</p>
  <div class="col-md-3 col-xs-6">
      <a href="#">
        <%= image_tag "AICPA.png", class: "img-responsive"%>
      </a>
  </div>
  <div class="col-md-3 col-xs-6">
      <a href="#">
        <%= image_tag "b2bcfo.png", class: "img-responsive"%>
      </a>
  </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-4 col-xs-8">
      <a href="#">
      	<%= image_tag "wsj.png", class: "img-responsive"%>
      </a>
  </div>
   <div class="col-md-2 col-xs-4">
      <a href="#">
      	<%= image_tag "CFO.png", class: "img-responsive"%>
      </a>
  </div>
  <div class="col-md-3 col-xs-6">
      <a href="#">
      	<%= image_tag "AICPA.png", class: "img-responsive"%>
      </a>
  </div>
  <div class="col-md-3 col-xs-6">
      <a href="#">
      	<%= image_tag "b2bcfo.png", class: "img-responsive"%>
      </a>
  </div>
</div> -->
<br><br>


<%-# Services Section -%>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div id="color_block" class="thumbnail">
      <div class="caption">
        <i class="fa fa-line-chart fa-4x"></i>
        <h3>Part-Time CFO</h3>
        <p>You need a CFO to support your growth. But you don't want to spend $300k on a full time hire and you don't want to pay someone to learn on the job. </p><br>
        <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div id="color_block" class="thumbnail">
      <div class="caption">
        <i class="fa fa-calculator fa-4x"></i>
        <h3>Accounting Implementation</h3>
        <p>Your business has grown faster than your accounting capabilites.  I allow you to focus on your core capabilites and provide better financial data enabling better decisions.</p>
        <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div id="color_block" class="thumbnail">
      <div class="caption">
        <i class="fa fa-bank fa-4x"></i>
        <h3>Transactional CFO</h3>
        <p>You're raising funds, engaged in M&A or preparing for an IPO. I've done it all and can get you derive maximum value from the transaction.</p><br>
        <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
      </div>
    </div>
  </div>
</div>